.home_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}


.home_section:nth-child(1) {
    grid-column: span 3 / span 3;
}

.home_section:nth-child(2) {
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}

.home_section:nth-child(3) {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
}